<!DOCTYPE html>
<html>

<head>
    <title>-- {{pageTitle}} --</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/app.css" />
    <link type="text/css" rel="stylesheet" href="/css/index.css" />
    <link type="text/css" rel="stylesheet" href="/css/sweetalert2.min.css">
    <link type="text/css" rel="stylesheet" href="/css/leaflet.css">
    <link rel="icon" href="/images/dash-icon.png" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
